include ../input/input
include ../checkbox/checkbox

mixin slider-config(options)
   - const { min, max, step, from, to, isVertical, isRange, showScale, showBar, showTip } = options
      .slider-config.js-range-slider-config
         .slider-config__inputs
            +input({name: "min", value: min})
            +input({name: "max", value: max})
            +input({name: "step", value: step})
            +input({name: "from", value: from})
            +input({name: "to", value: to})
         .slider-config__checkboxes   
            +checkbox({name: "isVertical", isTurn: isVertical})
            +checkbox({name: "isRange", isTurn: isRange})   
            +checkbox({name: "showScale", isTurn: showScale})
            +checkbox({name: "showBar", isTurn: showBar})   
            +checkbox({name: "showTip", isTurn: showTip})   
