include ../input/input
include ../checkbox/checkbox

mixin slider-config
      form.slider-config.ez-range-slider-config
         .slider-config__inputs
            +input({name: "min", label: "min value"})
            +input({name: "max", label: "max value"})
            +input({name: "step", label: "step"})
            +input({name: "fromCurrentValue", label: "from"})
            +input({name: "toCurrentValue", label: "to"})
         .slider-config__checkboxes   
            +checkbox({name: "isVertical", label: "Vertical"})
            +checkbox({name: "isRange", label: "Range from-to"})   
            +checkbox({name: "showScale", label: "Show scale"})
            +checkbox({name: "showBar", label: "Show bar"})   
            +checkbox({name: "showTip", label: "Show tips"})   
